<div class="container py-5">
  <h2 class="fw-bold mb-4">About Me</h2>

  <p>
    I’m a Frontend Developer with 3 years of experience at Wipro, building responsive Angular & MEAN stack
    applications. After preparing for UPSC (3 years), I bring strong analytical thinking and structured
    problem solving to tech work. Now transitioning back into frontend development.
  </p>

  <p>
    I enjoy UI development, performance optimization, Bootstrap layouts, and exploring AI/ML tools.
  </p>
</div>
<div class="container py-5">
  <h2 class="fw-bold mb-4">Education</h2>

  <ul>
    <li><strong>Bachelor of Technology in Electronics and CommunicationEngineering</strong>, VIT University, Vellore, 2019</li>
    <li><strong>UPSC Civil Services Examination Preparation</strong>, 2022-2025</li>
  </ul>