<div class="container py-5">
  <h2 class="fw-bold mb-5"aria-label="Skills">Skills</h2>
  <span class="skill-category-title" aria-label="Frontend (Primary)">Frontend (Primary)</span>
  <div class="pill-container g-1 ">
    <span class="badge bg-primary p-2 pill-custom">Angular</span>
    <span class="badge bg-primary p-2 pill-custom">TypeScript</span>
    <span class="badge bg-primary p-2 pill-custom">JavaScript</span>
    <span class="badge bg-primary p-2 pill-custom">HTML5</span>
    <span class="badge bg-primary p-2 pill-custom">CSS3</span>
    <span class="badge bg-primary p-2 pill-custom">Bootstrap</span>
    <span class="badge bg-primary p-2 pill-custom">Responsive Design</span>
    <span class="badge bg-primary p-2 pill-custom">Browser DevTools</span>
  </div>
  <span class="skill-category-title" aria-label="State, Data & APIs">State, Data & APIs</span>
  <div class="pill-container g-1 ">
    <span class="badge bg-primary p-2 pill-custom">REST APIs (Basics)</span>
    <span class="badge bg-primary p-2 pill-custom">JSON</span>
    <span class="badge bg-primary p-2 pill-custom">RxJS (Basics)</span>
    <span class="badge bg-primary p-2 pill-custom">Form Validation</span>
  </div>
  <span class="skill-category-title" aria-label="Backend & Tools (Support)">Backend & Tools (Support)</span>
  <div class="pill-container g-1 ">
    <span class="badge bg-primary p-2 pill-custom">Node.js (Basics)</span>
    <span class="badge bg-primary p-2 pill-custom">Express.js (Basics)</span>
    <span class="badge bg-primary p-2 pill-custom">Git & GitHub</span>
    <span class="badge bg-primary p-2 pill-custom">Firebase</span>
  </div>
  <span class="skill-category-title" aria-label="Engineering & Work Practices">Engineering & Work Practices</span>
  <div class="pill-container g-1 ">
    <span class="badge bg-primary p-2 pill-custom">Web Accessibility (WCAG - Basics)</span>
    <span class="badge bg-primary p-2 pill-custom">Debugging & Problem Analysis</span>
    <span class="badge bg-primary p-2 pill-custom">Agile Methodology</span>
    <span class="badge bg-primary p-2 pill-custom pill-custom">Performance Optimization (Basics)</span>
  </div>
</div>