<div class="container py-5">
  <h2 class="fw-bold mb-4">Skills</h2>

  <div class="row g-3">
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">HTML5</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">CSS3</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Bootstrap</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">JavaScript</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">TypeScript</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Angular</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Node JS</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Express JS</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Git & GitHub</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Browser DevTools</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Web Accessibility (WCAG)</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Photoshop</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Agile Methodology</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">MS Office</span></div>
    <div class="col-6 col-md-3"><span class="badge bg-primary p-2">Event Management</span></div>

  </div>
</div>