/* You can add global styles to this file, and also import other style files */
.alert-animate {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.alert-animate.hide {
  opacity: 0;
}
